@page "/calc/{handler?}"
@model _003_RazorPages_Basics.Pages.Sample001.Calc1Model
@{
    ViewData["Title"] = "Calculator Version 1";
}

<h1>Calc1</h1>

<form method="post">
    <input name="eins" /> <br />
    <input name="zwei" /> <br />
    <button type="submit">Add</button>

    @Model.Ergebnis
</form>


